<% if @user.id == current_user.id %>

<% else %>
  <% if @isroom == true %>
    <div class="fancy-button bg-gradient2">
      <span><a class="fancy-button_span2" name="f_commit" href="/rooms/<%= @roomid %>"><i class="fa fa-envelope"></i>メッセージ</a></span>
    </div>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <div class="fancy-button bg-gradient2">
        <span><%= f.submit "チャットを始める", name: "f_commit", class: 'fancy-button_span2' %></span>
      </div>
    <% end %>
  <% end %>
<% end %>