<div class="posts_container">
  <div class="sprout">
    <h2 class="posts_front"><i class="fas fa-carrot"></i>農場一覧</h2>
  </div>
  <% @posts.each do |post| %>
    <section class="myfarmer_area__box">
      <div class="posts_photo">
        <%= link_to("/posts/#{post.id}",class:"no-underline") do %>
          <p><%= image_tag post.p_image.url,class: "img-room"%></p>
          <p class="green-btn"><span>詳細</span></p>
        <% end %>
      </div>
      <div class="posts_description">
        <div class="posts_description_title">
          <h4><%= post.p_name %></h4>
        </div>
        <dl class="posts_description_address">
          <dt>場所</dt>
          <dd><%= post.p_adress %></dd>
        </dl>
        <ul class="posts_description_list">
          <li>
            <dl class="posts_description_fee">
              <dt>月額利用料</dt>
              <dd><%= post.p_price %>円</dd>
            </dl>
          </li>
          <li>
            <dl class="posts_description_menseki">
              <dt>区画面積</dt>
              <dd><%= post.p_menseki %>㎡</dd>
            </dl>
          </li>
        </ul>
      </div>
    </section>
  <% end %>
</div>