<header class="main_h">
  <a class="logo" href="/">農ライフ<i class="fas fa-leaf"></i></a>
  <div class="row">
    <% if user_signed_in? %>
      <nav>
        <ul>
          <li><%= link_to("農園を探す", "/posts") %></li>
          <li><%= link_to("農園を貸す", "/posts/new") %></li>
          <li><%= link_to("マイページ", "/users/#{current_user.id}") %></li>
          <li><%= link_to("ログアウト", "/users/sign_out", {method: "delete"}) %></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul>
          <li><%= link_to("新規登録","/users/sign_up") %></li>
          <li><%= link_to("ログイン","/users/sign_in")%></li>
          <li><%= link_to 'ゲストログイン（閲覧用）', home_guest_sign_in_path, method: :post %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>

